:root {
    --bcsecond: #d9f520;
    --backgrd: #221f1f;
    --lh: 1.4rem;
}

.art-video-player .art-settings .art-setting-panel {
    flex-direction: column;
    display: block;
}

html {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.slider {
    z-index: -1;
    background-color: #2e2c2c;
    width: 100%;
}

.main {
    padding: 0px;
    margin:0px;
}
.s{
    padding: 20px;
    background:linear-gradient(to bottom, transparent, #221f1f), url("animebackbw.png") rgb(15, 15, 15) 50% / cover no-repeat;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        /*background-attachment: fixed;*/
        background-color: #221f1f;
}
.mains{
    margin-bottom: 20%;
}

.showlist {
    padding: 10px;
}

.buthome {
    background-color: rgb(112, 0, 198);
    color: white;
    border: 0;
    width: 80%;
    border-radius: 10px;
    height: 50px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.buthome:hover {
    cursor: pointer;
    background-color: #2e2c2c;
}

.butshare {
    background-color: rgb(112, 0, 198);
    color: #ffffff;
    border: 2px;
    border-color: #d9f520;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    padding: 10px;
}

.butflex {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.center {
    text-align: center;
}

.imgshow {
    border: 1;
    border-radius: 5px;
}

.imgshow:hover {
    background-color: #2e2c2c;
    opacity: 0.6;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #221f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}


.header {
    display: flex;
    align-items: center;
    backdrop-filter: saturate(180%) blur(2px);
        -webkit-backdrop-filter: saturate(180%) blur(2px);
    justify-content: space-between;
    background-color: var(--bcsecond);
}

.toptext {
    width: 300px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    margin-left: 40px;
}
.loader {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
}

.loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }

    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}

.loadingb{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.back{
    
}
.bam{
    height:max-content;
}
.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin: 10px;
    padding: 10px;
}

li,
a {
    padding-left: 15px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: inline-flex;
}

.nav_links li a:hover {
    color: #68e8e6;
}

.logo:hover {}

.footer-nav {
    list-style: none;
    display: inline-flex;
    background-color: var(--bcsecond);
}

footer {
    background-color: #221f1f;
}

.social-icons {
    font-size: 40px;
}

.social-icons a :hover {
    color: #d9f520;
}

.foot {
    background-color: rgb(112, 0, 198);
    display: flex;
    color: white;
    position: relative;
    height: auto;
    background-color: var(--backcolor);
    justify-content: space-between;
    align-items: center;
}

.right {
    display: block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.nav_links_moble {
    background-color: #2e2c2c;
    list-style: none;
    text-align: center;
    display: none;
    position: fixed;
    margin-bottom: 16px;
}

.nav_links_moble li a:hover {
    color: rgb(94, 232, 124);
}

.nav_links_moble li a {
    background-color: #2e2c2c;
    transition: all 0.3s ease 0s;
}

.nav_links_moble li {
    background-color: #2e2c2c;
    margin-top: 25px;
    display: block;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width : 600px) {
    .header {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-color: var(--bctext);
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menuicon {
        background-color: var(--bctext);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }

}

/* homepage css */
:root {
    --bcsecond: #51afe4;
    --backgrd: #221f1f;
    --art-progress-color: #51afe4;
}
.art-controls .art-control .art-icon {
    height: var(--art-control-icon-size);
    width: var(--art-control-icon-size);
    transform: scale(var(--art-control-icon-scale));
    transition: transform var(--art-transition-duration) ease;
}
.art-icon {
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: flex;
}
.title {
    display: block;
}

.back {
    background-color: var(--backgrd);
    padding: 0;
    margin: 0;
}

.bar {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    height: 30px;
    margin-left: 10px;
}

.bar:focus {
    outline: none;
}

.imgres {
    margin: 5px;
}

.resultlist {
    background-color: #2e2c2c;
    justify-content: center;
    align-items: center;
    margin: 15px;
    display: flex;
}

.resultlist:hover {
    cursor: pointer;
    color: #d9f520;
    background-color: rgb(112, 0, 198);
}

.searchbar {
    display: flex;
    padding: 10px;
    background-color: #221f1f;
    border: 0;
    height: 40px;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
}

.searchbarmain {
    display: flex;
    padding: 10px;
    background-color: rgb(58, 56, 56);
    border: 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    border-radius: 5px;
    color: white;
}


body {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.main {
    
}

.showlist {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.showlist:hover {
    color: #d9f520;
    box-shadow: #d9f520;
}

.center {
    text-align: center;
}

.imgshow {
    width: 160px;
    height: 230px;
    border: 1;
    border-radius: 5px;
    background:  50% / cover no-repeat;
}

.gridimgshow {
    height: 230px;
    width: 160px;
    border: 1;
    border-radius: 5px;
    background: 50% / cover no-repeat;
}
.gridimgshowc {
    height: 190px;
    width: 300px;
    opacity: 0.4;
    font-weight: bolder;
    border: 1;
    background-position: center;
    border-radius: 5px;
    object-fit: cover;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #221f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}
.watchgridshowlist {
    width: 180px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.watchgridshowlist:hover {
    color: #d9f520;
}

.gridshowlist {
    width: 200px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.gridshowlistc {
    width: auto;
    font-size: 20px;
    text-overflow: clip;
    cursor: pointer;
    color: white;
    /* optional: adds ellipsis for hidden text */
    margin: 10px;
    text-align: center;
}

.gridshowlist:hover {
    color: #d9f520;
}
.gridshowlistc:hover {
    color: #d9f520;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.art-bottom .art-progress {
    z-index: 0;
    pointer-events: auto;
    padding-bottom: var(--art-bottom-gap);
    position: relative;
}
.art-video-player .art-bottom {
    z-index: 60;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    padding: 0 var(--art-padding);
    transition: all var(--art-transition-duration) ease;
    background-size: 100% var(--art-bottom-height);
    background-image: linear-gradient(to top, #000, #0006, #0000);
    background-position: bottom;
    background-repeat: repeat-x;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.art-video-player {
    width: 100%;
    height: 100%;
    zoom: 1;
    text-align: left;
    direction: ltr;
    user-select: none;
    box-sizing: border-box;
    color: var(--art-font-color);
    background-color: var(--art-background-color);
    text-shadow: 0 0 2px var(--art-text-shadow-color);
    -webkit-tap-highlight-color: #0000;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
    outline: 0;
    margin: 0 auto;
    padding: 0;
    font-family: PingFang SC, Helvetica Neue, Microsoft YaHei, Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
}
.art-video-player svg {
    fill: white;
    margin: 10px;
}
.art-icon {
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: flex;
}
.icon{
    fill: #ffffff;
    margin: 10px;
    height: 22px;
    width: 22px;
}
svg{
    fill: #ffffff;
}
svg:not(:root) {
    overflow: hidden;
}
.art-icon {
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: flex;
}
.art-controls .art-control {
    cursor: pointer;
    white-space: nowrap;
    opacity: var(--art-control-opacity);
    min-height: var(--art-control-height);
    min-width: var(--art-control-height);
    transition: opacity var(--art-transition-duration) ease;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.art-danmuku {
    z-index: 30;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    inset: 0;
    overflow: hidden;
}
.art-video-player .art-layers {
    z-index: 40;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    position: absolute;
    inset: 0;
}
.art-video-player .art-mask {
    z-index: 50;
    width: 100%;
    height: 100%;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0;
}
.art-video-player.art-control-show .art-bottom,
.art-video-player.art-hover .art-bottom {
    opacity: 1;
}
.art-video-player .art-loading {
    z-index: 70;
    width: 100%;
    height: 100%;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    inset: 0;
}
.art-video-player .art-notice {
    z-index: 80;
    width: 100%;
    height: 100%;
    height: auto;
    padding: var(--art-padding);
    pointer-events: none;
    display: none;
    position: absolute;
    inset: 0 0 auto;
}
.art-video-player .art-settings {
    z-index: 90;
    border-radius: var(--art-border-radius);
    transform-origin: 100% 100%;
    max-height: var(--art-settings-max-height);
    left: auto;
    right: var(--art-padding);
    bottom: var(--art-control-height);
    transform: scale(var(--art-settings-scale));
    transition: all var(--art-transition-duration) ease;
    background-color: var(--art-widget-background);
    flex-direction: column;
    display: none;
    position: absolute;
    overflow: hidden auto;
}
.art-video-player .art-info {
    left: var(--art-padding);
    top: var(--art-padding);
    z-index: 100;
    border-radius: var(--art-border-radius);
    background-color: var(--art-widget-background);
    padding: 10px;
    font-size: 12px;
    display: none;
    position: absolute;
}
.art-video-player .art-mask {
    z-index: 50;
    width: 100%;
    height: 100%;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0;
}
.art-video-player *,
.art-video-player :before,
.art-video-player :after {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.art-video-player *,
.art-video-player :before,
.art-video-player :after {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.art-video-player ::-webkit-scrollbar {
    width: var(--art-scrollbar-size);
    height: var(--art-scrollbar-size);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.art-video-player ::-webkit-scrollbar-thumb {
    background-color: var(--art-scrollbar-background);
}
.art-video-player *,
.art-video-player :before,
.art-video-player :after {
    box-sizing: border-box;
}
.art-video-player .art-contextmenus {
    z-index: 120;
    border-radius: var(--art-border-radius);
    background-color: var(--art-widget-background);
    min-width: var(--art-contextmenus-min-width);
    flex-direction: column;
    padding: 5px 0;
    font-size: 12px;
    display: none;
    position: absolute;
}
.recentmembers {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 3fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.artplayer-app {
        display: flex;
        right: 0;
            font-size: 20px;
            width: auto;
            height: 500px;
            margin-bottom: 10px;
            background-color: rgb(0 0 0 / 20%);
            border: 1px dashed rgba(255, 255, 255, 0.1);
}

.art-video-player.art-mask-show .art-state {
    cursor: pointer;
    pointer-events: auto;
    opacity: var(--art-state-opacity);
    transform: scale(1);
}

.art-video-player .art-mask .art-state {
    opacity: 0;
    width: var(--art-state-size);
    height: var(--art-state-size);
    transition: all var(--art-transition-duration) ease;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: scale(2);
}

.art-video-player *,
.art-video-player :before,
.art-video-player :after {
    box-sizing: border-box;
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner {
    height: 50%;
    width: 100%;
    transition: height var(--art-transition-duration) ease;
    background-color: var(--art-progress-color);;
    align-items: center;
    display: flex;
    position: relative;
}
.art-bottom .art-progress .art-control-progress {
    cursor: pointer;
    height: var(--art-progress-height);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator {
    z-index: 40;
    width: var(--art-indicator-size);
    height: var(--art-indicator-size);
    transform: scale(var(--art-indicator-scale));
    margin-left: calc(var(--art-indicator-size) / -2);
    transition: transform var(--art-transition-duration) ease;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 0;
}
.art-bottom .art-progress .art-control-progress {
    cursor: pointer;
    height: var(--art-progress-height);
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
art-bottom .art-progress {
    z-index: 0;
    pointer-events: auto;
    padding-bottom: var(--art-bottom-gap);
    position: relative;
}


.art-video-player *,
.art-video-player :before,
.art-video-player :after {
    box-sizing: border-box;
}

.art-bottom .art-progress {
    z-index: 0;
    pointer-events: auto;
    padding-bottom: var(--art-bottom-gap);
    position: relative;
}

.art-bottom .art-progress {
    z-index: 0;
    pointer-events: auto;
    padding-bottom: var(--art-bottom-gap);
    position: relative;
}

.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-loaded {
    z-index: 10;
    width: 100%;
    height: 50%;
    width: 0%;
    background-color: var(--art-loaded-color);
    position: absolute;
    inset: 0;
}
.art-video-player img {
    max-width: 100%;
    vertical-align: top;
}
.art-video-player {
    --art-theme: red;
    --art-font-color: #fff;
    --art-background-color: #000;
    --art-text-shadow-color: #00000080;
    --art-transition-duration: .2s;
    --art-padding: 10px;
    --art-border-radius: 3px;
    --art-progress-height: 6px;
    --art-progress-color: #fff3;
    --art-hover-color: #fff3;
    --art-loaded-color: #fff3;
    --art-state-size: 80px;
    --art-state-opacity: .8;
    --art-bottom-height: 100px;
    --art-bottom-offset: 20px;
    --art-bottom-gap: 5px;
    --art-highlight-width: 8px;
    --art-highlight-color: #ffffff80;
    --art-control-height: 46px;
    --art-control-opacity: .75;
    --art-volume-height: 240px;
    --art-volume-handle-size: 14px;
    --art-lock-size: 36px;
    --art-indicator-scale: 0;
    --art-indicator-size: 16px;
    --art-fullscreen-web-index: 9999;
    --art-settings-icon-size: 24px;
    --art-settings-max-height: 300px;
    --art-selector-max-height: 300px;
    --art-contextmenus-min-width: 250px;
    --art-subtitle-font-size: 20px;
    --art-subtitle-gap: 5px;
    --art-subtitle-bottom: 15px;
    --art-subtitle-border: #000;
    --art-widget-background: #000000d9;
    --art-tip-background: #00000080;
    --art-scrollbar-size: 4px;
    --art-scrollbar-background: #ffffff40;
    --art-scrollbar-background-hover: #ffffff80;
    --art-mini-progress-height: 2px;
}


.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-played {
    z-index: 20;
    width: 100%;
    height: 100%;
    width: 0%;
    background-color: #51afe4;
    position: absolute;
    inset: 0;
}


*,
:after,
:before {
    box-sizing: border-box;
}
.art-controls {
    z-index: 10;
    pointer-events: auto;
    height: var(--art-control-height);
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: relative;
}
.art-controls .art-controls-left,
.art-controls .art-controls-right {
    height: 100%;
    display: flex;
}
.art-controls .art-controls-right {
    justify-content: flex-end;
}
.art-bottom .art-progress {
    z-index: 0;
    pointer-events: auto;
    padding-bottom: var(--art-bottom-gap);
    position: relative;
}
.art-video-player.art-control-show .art-bottom .art-controls,
.art-video-player.art-hover .art-bottom .art-controls,
.art-video-player.art-control-show .art-bottom .art-progress,
.art-video-player.art-hover .art-bottom .art-progress {
    transform: translateY(0);
}

.art-video{
    z-index: 10;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        inset: 0;
}
.far{
    margin-left: auto;
    font-weight: bold;
    font-style:oblique;
    text-align: center;
}
.recentmembersc {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 3fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.relatedanimes {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 3fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.toptext {
    margin-left: auto;
    margin-right: auto;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}

.logo:hover {}

.foot {
    margin: 10px;
    margin-top: 10%;
}


@media only screen and (max-width : 600px) {

    .imgshow {
        width: 110px;
        border: 1;
        border-radius: 5px;
    }
    .artplayer-app{
        height: 300px;
    }

    .gridimgshow {
        width: 150px;
        border: 1;
        border-radius: 5px;
    }

    .recentmembers {
        grid-template-columns: repeat(2, 1fr);
    }


    .logo {
        background-color: var(--bctext);
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-left: 0px;
        margin-right: 50px;

    }

    .showlist {
        width: 150px;
    }

    .gridshowlist {
        width: 150px;
    }
        .watchgridshowlist {
            width: 150px;
        }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (min-width:1000px) {
    .epsout {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: repeat(6, 6fr);
            margin-top: 10px;
            border: 1;
            border-radius: 10px;
            white-space: nowrap;
            overflow-x: 10px;
            border: 1;
            cursor: pointer;
            border-radius: 6px;
        }
        .eps{
            padding: 0px;
            margin: 0px;
            font-size: 12px;
            width: auto;
        }
}

@media screen and (max-width: 1100px) {

    .imgshow {
        width: 150px;
        border: 1;
        border-radius: 5px;
    }

    .recentmembers {
        grid-template-columns: repeat(2, 1fr);
    }
    .relatedanimes {
            grid-template-columns: repeat(2, 1fr);
     }

}

/* watch page css  */

.watchbut {
    width: 150px;
    height: 40px;
    background-color: #ff3d64;
    color: white;
    border: 0;
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
}

.morebut {
    width: 50%;
    height: 40px;
    background-color: #ff3d64;
    color: #ffffff;
    border: 0;
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
}

.morebut:hover {
    cursor: pointer;
    background-color: #221f1f;
    color: #ffffff;
}

.watchbut:hover {
    cursor: pointer;
}

.eps {
    display: flex;
    width: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(46, 46, 46, 0.566);
    border: 1;
    cursor: pointer;
    border-radius: 6px;
}

.eps:hover {
    background-color:var(--hoverc);
    color: white;
}

.message {
    background-color: rgb(112, 0, 198);
    color: white;
}

.centerr {
    text-align: center;
}

.center {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.centershare {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.frame {
    width: 100%;
    height: 500px;
}

.container {
    position:relative;
    border-radius: 5px;
}

.banner{
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: #221f1f;
    left: 0;
    background: linear-gradient(to bottom, transparent, #221f1f), rgb(15, 15, 15) 50% / cover no-repeat;
        background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
    width: 100%;
}
.bannerimg{
    filter: blur(1px);
    background: linear-gradient(to bottom, transparent, #221f1f), rgb(15, 15, 15) 50% / cover no-repeat;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
}

.bottomleft {
    position: relative;
    bottom: 6%;
    color: rgb(250, 243, 255);
    left: 2%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    width: 77%;

    letter-spacing: 0.1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;

    @media (min-width: 768px) {
        gap: 6px;
    }

    bottom: 6%;

    @media (min-width: 768px) {
        bottom: 10%;
    }

    left: 5%;

    @media (min-width: 992px) {
        left: 8%;
    }

    width: 77%;
}
.art-video-player.art-setting-show .art-settings {
    display: flex;
}
.bottomleftctxt {
    bottom: 6%;
    color: rgb(250, 243, 255);
    padding: 0;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    position: absolute;
    display: flex;
    gap: 0;
    margin-right: 0px;
}
.bottomleftc {
    bottom: 6%;
    color: rgb(250, 243, 255);
    padding: 0;
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    position: absolute;
    display: block;
    gap: 0;
    margin-bottom: 80px;
}

.infoslide {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 2px;
}
.animeinfo{
    display: block;
}
.animed{
    display: block;
    margin-left: 10px;
    margin-bottom: 0px;
}
.anime{
    display: flex;
    background-color: #2e2c2c;
    border-radius: 10px;
    border: 1;
    padding: 10px;
    height: auto;
    margin: 5px;
    border-color: #d9f520;
}
.anime:hover{
    cursor: pointer;
}
.descr {
    max-width: 500px;
    line-height: var(--lh);
    --max-lines: 4;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    font-style: italic;
    font-size: 15px;
    padding-right: 1rem;
}
.desp{
    max-width: 22rem;
        line-height: var(--lh);
        --max-lines: 4;
        position: absolute;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow:hidden;
        font-style: italic;
        font-size: 15px;
        padding-right: 0;
}
.desp::before {
    position:absolute;
    content: "...";
    bottom: 0;
    right: 0;
}

.desp::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 1rem;
    background: white;
}

.descrinfo {
    --max-lines: 5;
    max-width: 42rem;
    line-height: var(--lh);
    margin: 2rem auto;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
}

.descr::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}

.descr::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.descrinfo::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}
.lazyblur{
    background-position: center;
    background-size: cover;
    margin-left: auto;
    border-radius: 5px;
    height: 100px; ;
    margin-right: auto;
}
.lazyblur {

}

.descrinfo::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.imgslide {
    width: 100%;
    height: 500px;
    object-fit:cover;
    background-color: #221f1f;
    opacity: 0.39;
}

.epi {
    top: 0;
    text-align: center;
    bottom: 0;
    right: 0;
}
.ep{
    width: auto;
}
.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator {
    z-index: 40;
    width: var(--art-indicator-size);
    height: var(--art-indicator-size);
    transform: scale(var(--art-indicator-scale));
    margin-left: calc(var(--art-indicator-size) / -2);
    transition: transform var(--art-transition-duration) ease;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 0;
}
.art-bottom .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator .art-icon {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.art-bottom:hover .art-progress .art-control-progress .art-control-progress-inner .art-progress-indicator {
    transform: scale(1);
}


.eplist {}

@media only screen and (max-width : 700px) {
    .frame {
        width: 100%;
        height: 200px;
    }
    .coveriframe{
        width: 100%;
    }
    .descr {
        display: none;
    }
    .desp{
        --max-lines:2;
        margin: 0;
        max-width: 60%;
        padding: 0;
        font-style: normal;
        font-size: 10px;
    }
        .animeimg {
            height: 120px;
        }
    .epi {
        top: 0;
        margin-left: 10px;
        text-align: center;
        bottom: 0;
        right: 0;
    }
}

/* info page css  */

.title {
    text-align: center;
}

.newep{
    background-color: rgb(112, 0, 198);
    color: #ffffff;
    border-radius: 3px;
    width: auto;
    padding: 5px;
    border: 10px;
    border-color: #d9f520;
}
.reld{
    display: flex;
    gap: 2px;
    font-size: 12px;
    margin: 0;
    padding: 5px;
}
.ireld {
    display: flex;
    gap: 2px;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding: 10px;
}
.cover {
    z-index: 9;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 100px;
}
.coveriframe {
 width: 100%;
 height: 500px;
}
.art-video-player .art-settings .art-setting-panel.art-current {
    display: flex;
}
.butep{
    background-color: rgb(112, 0, 198);
        color: #ffffff;
        border: none;
        border-color: #d9f520;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0px;
        outline: none;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        padding: 10px;
    }
.art-control-volume:hover .art-volume-panel {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transform: translateX(50px);
}
.art-video-player .art-settings .art-setting-panel .art-setting-item {
    cursor: pointer;
    transition: background-color var(--art-transition-duration) ease;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    display: flex;
    overflow: hidden;
}
.art-icon {
    justify-content: center;
    align-items: center;
    line-height: 1;
    display: flex;
}
.art-video-player .art-settings .art-setting-panel.art-current {
    display: flex;
}

.art-video-player .art-settings .art-setting-panel {
    flex-direction: column;
    display: none;
}
.art-control-volume .art-volume-panel {
    transform: translateX(50px);
    text-align: center;
    cursor: default;
    opacity: 0;
    pointer-events: none;
    left: 0;
    right: 0;
    bottom: var(--art-control-height);
    width: var(--art-control-height);
    height: var(--art-volume-height);
    transition: all var(--art-transition-duration) ease;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
    display: flex;
    position: absolute;
}
.art-control-volume .art-volume-panel .art-volume-inner {
    height: 100%;
    width: 100%;
    border-radius: var(--art-border-radius);
    background-color: var(--art-widget-background);
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0 12px;
    display: flex;
}
.art-control-volume .art-volume-panel .art-volume-inner .art-volume-slider .art-volume-handle {
    width: 2px;
    border-radius: var(--art-border-radius);
    background-color: #ffffff40;
    justify-content: center;
    display: flex;
    position: relative;
    overflow: hidden;
}
.art-control-volume .art-volume-panel .art-volume-inner .art-volume-slider .art-volume-handle .art-volume-loaded {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: var(--art-theme);
    position: absolute;
    inset: 0;
}
.art-control-volume .art-volume-panel .art-volume-inner .art-volume-slider .art-volume-indicator {
    width: var(--art-volume-handle-size);
    height: var(--art-volume-handle-size);
    margin-top: calc(var(--art-volume-handle-size) / -2);
    background-color: var(--art-theme);
    transition: transform var(--art-transition-duration) ease;
    border-radius: 100%;
    flex-shrink: 0;
    position: absolute;
    transform: scale(1);
}
.art-control-volume .art-volume-panel .art-volume-inner .art-volume-slider {
    width: 100%;
    cursor: pointer;
    flex: 1;
    justify-content: center;
    display: flex;
    position: relative;
}

.centerimg {}

.eps {
    padding: 1px;
    margin: 10px;
    background-color: rgb(46, 46, 46);
    border: 1;
    border-radius: 6px;
    cursor: pointer;
}


.eps:hover {
    background-color: var(--hoverc);
    color: white;
}

.center {
    text-align: center;
}

.centerp {
    text-align: center;
    font-size: 18px;
}

.info {
    background-color: var(--hoverc);
      display: flex;

}
.watchinfo {
    display: flex;
}
.wdata {
    width: 100%;
    padding: 10px;
    overflow: auto;
    max-height: 700px;
}

.data {
  width: 100%;
  max-height: 700px;
  overflow:auto;
  gap: .4rem;
  padding: 1px;
  z-index: 9;
  margin-top: 100px;
  width: 70%;
}

.datali {
    display: block;
    padding: 5px;
    margin: 10px;
}

.datalitxt {}

@media only screen and (max-width : 780px) {
    .info {
        display: block;
    }
        .data {
            width: auto;
            margin-top: 0px;
        }

        .wdata {
                    width: auto;
                    padding: 10px;
         }
         .reld{
            font-size: 10px;
         }
    .watchinfo{
        display:block;
    }
    .coveriframe{
        width: 100%;
        height: auto;
    }
    .cover{
        margin-top: 0;
        width: 100%;
    }
    .aimg{
        position: relative;
        z-index: 9;
        margin-top: 85px;
    }
    .banner{

        position: absolute;
        z-index: 0;
    }
    .centerimg {
        text-align: center;
    }
}
@media only screen and (max-width:320px) {

    .relatedanimes{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* about page css */

.center {
    text-align: center;
}

.centerbold {
    text-align: center;
    font-weight: bolder;
}

/* header css */

:root {
    --backgrd: #221f1f;
    --bcsecond: #1412087f;
    --bctext : transparent;
}

.centered-bot {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bod{
    display: none;
}

.slided {
    background-color: #2e2c2c;
    padding: 0;
}

.swiper-slide:hover {
    cursor: pointer;
}
.swiper-container {
    max-width: 100%;
    overflow: hidden;
    /* Prevent horizontal scrollbars */
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ensure each slide takes 100% of the container width */
    max-width: 100%;
}

/* Navigation Links Styles */
li,
a,
ul {
    background-color: var(--bctext);
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
    text-decoration: none;
}

.head {
    z-index: 1000;
    width: 100%;
    height: 150px;;
    align-items: center;
    position: fixed;
    background-color: var(--bctext);
}

.nav_links {
    display: inline-flex;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.nav_links li {
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #d9f520;
}

.nav_links li a ul {
    text-align: center;
    transition: all 0.3s ease 0s;
}

.nav_links_moble {
    background-color: #2e2c2c;
    display: none;
    position: fixed;
    margin-top: 430px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.nav_links_moble li {
    background-color: #2e2c2c;
    display: block;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

.nav_links_moble li a {
    background-color: #2e2c2c;
    transition: all 0.3s ease 0s;
}

.nav_links_moble li a:hover {
    color: #d9f520;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}

.searchbarmob {
    display: none;
}

.logo {
    cursor: pointer;
    display: flex;
    height: 65px;
    width: 65px;
    position: relative;
    padding-bottom: 0px;
}
.indexz{
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .header {
        align-items: center;
        background-color: var(--bctext);
        display: flex;
        justify-content: space-between;
    }
    .eps{
        width: auto;
    }
        .bod {
            display: block;
        }

    .head {
        background-color: rgba(53, 52, 52, 0.406);
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    .searchbar {
        display: none;
    }

    .searchbarmob {
        display: flex;
        padding: 10px;
        background-color: #221f1f;
        border: 0;
        margin-top: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        border-radius: 5px;
        color: white;
    }

    .logo {
        cursor: pointer;
        display: flex;
        height: 50px;
        width: 50px;
        position: relative;
        margin-right: 30px;
    }

    .menuicon {
        background-color: var(--bctext);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        padding: 10px;
        text-align: center;
    }
}