:root {
    --bcsecond: #d9f520;
    --backgrd: rgb(0, 0, 0);
}

html {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: white;
}

.slider{
    background-color: #2e2c2c;
}

.main {
    padding: 0px
}

.showlist {
    padding: 10px;
}

.buthome{
    background-color: rgb(112, 0, 198);
    color: white;
    border: 0;
    width: 80%;
    border-radius: 10px;
    height: 50px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}
.buthome:hover{
    cursor: pointer;
    background-color: #2e2c2c;
}
.butshare{
    background-color:rgb(112, 0, 198);
    color: #ffffff;
    border: 2px;
    border-color: #d9f520;
    border-style:dashed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    padding: 10px;
}
.butflex{
    padding: 5px;
    display: flex;
    align-items: center;
        justify-content: center;
        text-align: center;
}


.center {
    text-align: center;
}

.imgshow {
    border: 1;
    border-radius: 5px;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bcsecond);
}

.toptext {}

.logo {
    background-color: var(--bcsecond);
    display: flex;
    justify-content: center;
    height: 60px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin: 10px;
    padding: 10px;
}

li,
a {
    padding-left: 15px;
    align-items: center;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    color: white;
    background-color: var(--bcsecond);
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: inline-flex;
    margin-bottom: 22px;
    background-color: var(--bcsecond);
}

.nav_links li a:hover {
    color: #68e8e6;
}

.logo:hover {}

.footer-nav{
    list-style: none;
        display: inline-flex;
        background-color: var(--bcsecond);
}
footer{
    background-color: rgb(112, 0, 198);
}
.social-icons{
    font-size: 40px;
}
.social-icons a :hover{
    color: #d9f520;
}
.foot {
    background-color: rgb(112, 0, 198);
    display: flex;
    color: white;
    position: relative;
    height: auto;
    background-color: var(--backcolor);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.right{
    display: block;
}
.nav_links li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li {
    background-color: var(--bcsecond);
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.nav_links_moble {
    background-color: var(--bcsecond);
    list-style: none;
    text-align: center;
    display: none;
    margin-bottom: 16px;
}

.nav_links_moble li a:hover {
    color: rgb(94, 232, 124);
}

.nav_links_moble li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
}

.nav_links_moble li {
    background-color: var(--bcsecond);
    margin-top: 25px;
    display: block;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width : 600px) {
    .header {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-color: var(--bcsecond);
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }

}

/* homepage css */
:root {
    --bcsecond: rgb(112, 0, 198);
    --backgrd: rgb(37, 39, 38);
}

.title{
    display: block;
}

.back {
    background-color: var(--backgrd);
}

.bar {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    height: 30px;
    margin-left: 10px;
}

.bar:focus {
    outline: none;
}

.imgres {
    margin: 5px;
}

.resultlist {
    background-color: #2e2c2c;
    justify-content: center;
    align-items: center;
    margin: 15px;
    display: flex;
}
.resultlist:hover{
    cursor: pointer;
    color: #d9f520;
    background-color: rgb(112, 0, 198);
}

.searchbar {
    display: flex;
    padding: 10px;
    background-color: rgb(58, 56, 56);
    border: 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    border-radius: 5px;
    color: white;
}
.searchbarmain {
    display: flex;
    padding: 10px;
    background-color: rgb(58, 56, 56);
    border: 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 5px;
    color: white;
}


body {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: white;
}

.main {
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 15px;
}

.showlist {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.showlist:hover {
    color: #d9f520;
    box-shadow: #d9f520;
}

.center {
    text-align: center;
}

.imgshow {
    width: 210px;
    border: 1;
    border-radius: 5px;
}

.gridimgshow {
    width: 210px;
    border: 1;
    border-radius: 5px;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}

.gridshowlist {
    width: 200px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.gridshowlist:hover {
    color: #d9f520;
}

.recentmembers {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 3fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.toptext {
    margin-left: auto;
    margin-right: auto;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}

.logo:hover {}

.foot {
    margin: 10px;
    margin-top: 10%;
}


@media only screen and (max-width : 600px) {

    .imgshow {
        width: 110px;
        border: 1;
        border-radius: 5px;
    }
        .gridimgshow {
            width: 150px;
            border: 1;
            border-radius: 5px;
        }

    .recentmembers {
        grid-template-columns: repeat(2, 1fr);
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-color: var(--bcsecond);
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 80px;
        margin-left: 0px;
        margin-right: 50px;
        margin-top: 8px;
        margin-bottom: 5px;

    }

    .showlist {
        width: 150px;
    }

    .gridshowlist {
        width: 150px;
    }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }
}
@media screen and (max-width: 1100px) {

    .imgshow {
        width: 150px;
        border: 1;
        border-radius: 5px;
    }
        .recentmembers {
            grid-template-columns: repeat(2, 1fr);
        }

}

/* watch page css  */

.eps {
    padding: 1px;
    margin: 10px;
    background-color: rgb(46, 46, 46);
    border: 1;
    cursor: pointer;
    border-radius: 6px;
}

.eps:hover {
    background-color: rgb(112, 0, 198);
    color: white;
}

.message {
    background-color: rgb(112, 0, 198);
    color: white;
}

.centerr {
    text-align: center;
}

.center {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.centershare{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.frame {
    width: 100%;
    height: 500px;
}
.container {
    position: relative;
    border-radius: 5px;
}

.bottomleft {
    position: absolute;
    bottom: 6%;
    color: rgb(250, 243, 255);
    left: 2%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    width: 77%;
    
        letter-spacing: 0.1em;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 3px;
    
        @media (min-width: 768px) {
            gap: 6px;
        }
    
        bottom: 6%;
    
        @media (min-width: 768px) {
            bottom: 10%;
        }
    
        left: 5%;
    
        @media (min-width: 992px) {
            left: 8%;
        }
    width: 77%;
}
.infoslide{
 display: flex;
 align-items: center;
 padding: 2px;
 gap: 2px;
}
.descr{
    font-style: italic;
    width: 100ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.imgslide {
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
}

.epi {
    top: 0;
    text-align: center;
    bottom: 0;
    right: 0;
}

.eplist {}

@media only screen and (max-width : 700px) {
    .frame {
        width: 100%;
        height: 200px;
    }
        .descr {
            display: none;
        }

    .epi {
        top: 0;
        margin-left: 10px;
        text-align: center;
        bottom: 0;
        right: 0;
    }
}

/* info page css  */

.title {
    text-align: center;
}
.cover{
    margin-top: 10px;
    margin-bottom: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.centerimg{

}

.eps {
    padding: 1px;
    margin: 10px;
    background-color: rgb(46, 46, 46);
    border: 1;
    border-radius: 6px;
    cursor: pointer;
}

.eps:hover {
    background-color: rgb(112, 0, 198);
    color: white;
}

.center {
    text-align: center;
}

.centerp {
    text-align: center;
    font-size: 18px;
}

.info {
    display: flex;
    margin-bottom: 100px;
}

.data {
    padding: 10px;
}
.datali {
    display: block;
    padding: 5px;
    margin: 10px;
}
.datalitxt{
}

@media only screen and (max-width : 700px) {
    .info {
        display: block;
    }
    .centerimg {
        text-align: center;
    }
}

/* about page css */

.center {
    text-align: center;
}

.centerbold {
    text-align: center;
    font-weight: bolder;
}

/* header css */

:root {
    --backgrd: rgb(37, 39, 38);
    --bcsecond: rgb(112, 0, 198);
}
.slided{
    background-color: #2e2c2c;
    padding: 0;
}
.slide:hover{
    cursor: pointer;
}

/* Navigation Links Styles */
li,
a,
ul {
    align-items: center;
    background-color: var(--bcsecond);
    color: white;
    font-family: 'Sen', sans-serif;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    padding: 13px;
    text-decoration: none;
}

.head {
    background-color: transparent;
    display: relative;
}

.nav_links {
    background-color: var(--bcsecond);
    display: inline-flex;
    list-style: none;
    margin-right: 10px;
    margin-bottom: 22px;
}

.nav_links li {
    background-color: var(--bcsecond);
    display: inline-block;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

.nav_links li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #d9f520;
}

.nav_links li a ul {
    background-color: var(--bcsecond);
    text-align: center;
    transition: all 0.3s ease 0s;
}

.nav_links_moble {
    background-color: var(--bcsecond);
    display: none;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    text-align: center;
}

.nav_links_moble li {
    background-color: var(--bcsecond);
    display: block;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

.nav_links_moble li a {
    background-color: var(--bcsecond);
    transition: all 0.3s ease 0s;
}

.nav_links_moble li a:hover {
    color: #d9f520;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}
.searchbarmob{
    display: none;
}
.logo {
    background-color: var(--bcsecond);
    cursor: pointer;
    display: flex;
    height: 80px;
    width: 200px;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    padding-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    .header {
        align-items: center;
        background-color: var(--bcsecond);
        display: flex;
        justify-content: space-between;
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .searchbar{
        display: none;
    }
        .searchbarmob {
            display: flex;
            padding: 10px;
            background-color: rgb(58, 56, 56);
            border: 0;
            margin-top: 10px;
            width: 90%;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            height: 30px;
            border-radius: 5px;
            color: white;
        }
    .logo {
        background-color: var(--bcsecond);
        cursor: pointer;
        display: flex;
        height: 20px;
        width: 20px;
        position: relative;
        margin-top: 30px;
        margin-right: 80px;
        padding-bottom: 30px;
    }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        padding: 10px;
        text-align: center;
    }
}