:root {
    --bcsecond: #d9f520;
    --backgrd: #221f1f;
    --lh: 1.4rem;
}

html {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.slider {
    z-index: -1;
    background-color: #2e2c2c;
    width: 100%;
}

.main {
    padding: 0px;
    margin:0px;
}
.s{
    padding: 20px;
    background:linear-gradient(to bottom, transparent, #221f1f), url("animebackbw.png") rgb(15, 15, 15) 50% / cover no-repeat;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        /*background-attachment: fixed;*/
        background-color: #221f1f;
}
.mains{
    margin-bottom: 20%;
}

.showlist {
    padding: 10px;
}

.buthome {
    background-color: rgb(112, 0, 198);
    color: white;
    border: 0;
    width: 80%;
    border-radius: 10px;
    height: 50px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
}

.buthome:hover {
    cursor: pointer;
    background-color: #2e2c2c;
}

.butshare {
    background-color: rgb(112, 0, 198);
    color: #ffffff;
    border: 2px;
    border-color: #d9f520;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 90%;
    padding: 10px;
}

.butflex {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.center {
    text-align: center;
}

.imgshow {
    border: 1;
    border-radius: 5px;
}

.imgshow:hover {
    background-color: #2e2c2c;
    opacity: 0.6;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #221f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}


.header {
    display: flex;
    align-items: center;
    backdrop-filter: saturate(180%) blur(2px);
        -webkit-backdrop-filter: saturate(180%) blur(2px);
    justify-content: space-between;
    background-color: var(--bcsecond);
}

.toptext {
    width: 300px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    cursor: pointer;
    margin-left: 40px;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin: 10px;
    padding: 10px;
}

li,
a {
    padding-left: 15px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: inline-flex;
}

.nav_links li a:hover {
    color: #68e8e6;
}

.logo:hover {}

.footer-nav {
    list-style: none;
    display: inline-flex;
    background-color: var(--bcsecond);
}

footer {
    background-color: #221f1f;
}

.social-icons {
    font-size: 40px;
}

.social-icons a :hover {
    color: #d9f520;
}

.foot {
    background-color: rgb(112, 0, 198);
    display: flex;
    color: white;
    position: relative;
    height: auto;
    background-color: var(--backcolor);
    justify-content: space-between;
    align-items: center;
}

.right {
    display: block;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-align: center;
}

.nav_links li {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.nav_links_moble {
    background-color: #2e2c2c;
    list-style: none;
    text-align: center;
    display: none;
    position: fixed;
    margin-bottom: 16px;
}

.nav_links_moble li a:hover {
    color: rgb(94, 232, 124);
}

.nav_links_moble li a {
    background-color: #2e2c2c;
    transition: all 0.3s ease 0s;
}

.nav_links_moble li {
    background-color: #2e2c2c;
    margin-top: 25px;
    display: block;
    text-align: center;
    padding: 5px;
}

@media only screen and (max-width : 600px) {
    .header {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head {
        background-color: var(--bcsecond);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        background-color: var(--bctext);
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .menuicon {
        background-color: var(--bctext);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }

}

/* homepage css */
:root {
    --bcsecond: #51afe4;
    --backgrd: #221f1f;
}

.title {
    display: block;
}

.back {
    background-color: var(--backgrd);
    padding: 0;
    margin: 0;
}

.bar {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 0;
    height: 30px;
    margin-left: 10px;
}

.bar:focus {
    outline: none;
}

.imgres {
    margin: 5px;
}

.resultlist {
    background-color: #2e2c2c;
    justify-content: center;
    align-items: center;
    margin: 15px;
    display: flex;
}

.resultlist:hover {
    cursor: pointer;
    color: #d9f520;
    background-color: rgb(112, 0, 198);
}

.searchbar {
    display: flex;
    padding: 10px;
    background-color: #221f1f;
    border: 0;
    width: 300px;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-right: 10px;
    height: 20px;
    border-radius: 5px;
    color: white;
}

.searchbarmain {
    display: flex;
    padding: 10px;
    background-color: rgb(58, 56, 56);
    border: 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    border-radius: 5px;
    color: white;
}


body {
    background-color: var(--backgrd);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.main {
    
}

.showlist {
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: clip;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.showlist:hover {
    color: #d9f520;
    box-shadow: #d9f520;
}

.center {
    text-align: center;
}

.imgshow {
    width: 160px;
    height: 230px;
    border: 1;
    border-radius: 5px;
    background:  50% / cover no-repeat;
}

.gridimgshow {
    height: 230px;
    width: 160px;
    border: 1;
    border-radius: 5px;
    background: 50% / cover no-repeat;
}

.crc {
    padding: 5px;
    border: 1;
    border-radius: 100px;
    width: 80px;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #221f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

.pp {
    background-color: var(--bcsecond);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d9f520;
}
.watchgridshowlist {
    width: 180px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.watchgridshowlist:hover {
    color: #d9f520;
}

.gridshowlist {
    width: 200px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: clip;
    cursor: pointer;
    /* optional: adds ellipsis for hidden text */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

.gridshowlist:hover {
    color: #d9f520;
}

.recentmembers {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 3fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}
.relatedanimes {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(5, 5fr);
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: 10px;
}

.toptext {
    margin-left: auto;
    margin-right: auto;
}

.imgcen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}

.logo:hover {}

.foot {
    margin: 10px;
    margin-top: 10%;
}


@media only screen and (max-width : 600px) {

    .imgshow {
        width: 110px;
        border: 1;
        border-radius: 5px;
    }

    .gridimgshow {
        width: 150px;
        border: 1;
        border-radius: 5px;
    }

    .recentmembers {
        grid-template-columns: repeat(2, 1fr);
    }


    .logo {
        background-color: var(--bctext);
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-left: 0px;
        margin-right: 50px;

    }

    .showlist {
        width: 150px;
    }

    .gridshowlist {
        width: 150px;
    }
        .watchgridshowlist {
            width: 150px;
        }

    .menuicon {
        background-color: var(--bcsecond);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        text-align: center;
        padding: 10px;
    }
}

@media screen and (max-width: 1100px) {

    .imgshow {
        width: 150px;
        border: 1;
        border-radius: 5px;
    }

    .recentmembers {
        grid-template-columns: repeat(2, 1fr);
    }
    .relatedanimes {
            grid-template-columns: repeat(2, 1fr);
     }

}

/* watch page css  */

.watchbut {
    width: 150px;
    height: 40px;
    background-color: #ff3d64;
    color: white;
    border: 0;
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
}

.morebut {
    width: 40%;
    height: 40px;
    background-color: #ebe5e6;
    color: #2e2c2c;
    border: 0;
    margin-left: 5px;
    outline: none;
    border-radius: 5px;
}

.morebut:hover {
    cursor: pointer;
    background-color: #221f1f;
    color: #ffffff;
}

.watchbut:hover {
    cursor: pointer;
}

.eps {
    display: flex;
    padding: 1px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(46, 46, 46, 0.566);
    border: 1;
    cursor: pointer;
    border-radius: 6px;
}

.eps:hover {
    background-color:var(--hoverc);
    color: white;
}

.message {
    background-color: rgb(112, 0, 198);
    color: white;
}

.centerr {
    text-align: center;
}

.center {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.centershare {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.frame {
    width: 100%;
    height: 500px;
}

.container {
    position:relative;
    border-radius: 5px;
}

.banner{
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: #221f1f;
    left: 0;
    background: linear-gradient(to bottom, transparent, #221f1f), rgb(15, 15, 15) 50% / cover no-repeat;
        background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
    width: 100%;
}
.bannerimg{
    filter: blur(1px);
    background: linear-gradient(to bottom, transparent, #221f1f), rgb(15, 15, 15) 50% / cover no-repeat;
    background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
}

.bottomleft {
    position: relative;
    bottom: 6%;
    color: rgb(250, 243, 255);
    left: 2%;
    padding: 0;
    margin: 0;
    font-size: 18px;
    width: 77%;

    letter-spacing: 0.1em;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3px;

    @media (min-width: 768px) {
        gap: 6px;
    }

    bottom: 6%;

    @media (min-width: 768px) {
        bottom: 10%;
    }

    left: 5%;

    @media (min-width: 992px) {
        left: 8%;
    }

    width: 77%;
}

.infoslide {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 2px;
}
.animeinfo{
    display: block;
}
.animed{
    display: block;
    margin-left: 10px;
    margin-bottom: 0px;
}
.anime{
    display: flex;
    background-color: #2e2c2c;
    border-radius: 10px;
    border: 1;
    padding: 10px;
    height: auto;
    margin: 5px;
    border-color: #d9f520;
}
.anime:hover{
    cursor: pointer;
}
.descr {
    max-width: 500px;
    line-height: var(--lh);
    --max-lines: 4;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    font-style: italic;
    font-size: 15px;
    padding-right: 1rem;
}
.desp{
    max-width: 22rem;
        line-height: var(--lh);
        --max-lines: 4;
        position: absolute;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow:hidden;
        font-style: italic;
        font-size: 15px;
        padding-right: 0;
}
.desp::before {
    position:absolute;
    content: "...";
    bottom: 0;
    right: 0;
}

.desp::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 1rem;
    background: white;
}

.descrinfo {
    --max-lines: 5;
    max-width: 42rem;
    line-height: var(--lh);
    margin: 2rem auto;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
}

.descr::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}

.descr::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.descrinfo::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}
.lazyblur{
    background-position: center;
    background-size: cover;
    margin-left: auto;
    border-radius: 5px;
    height: 100px; ;
    margin-right: auto;
}
.lazyblur {

}

.descrinfo::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.imgslide {
    width: 100%;
    height: 500px;
    object-fit:cover;
    background-color: #221f1f;
    opacity: 0.39;
}

.epi {
    top: 0;
    text-align: center;
    bottom: 0;
    right: 0;
}

.eplist {}

@media only screen and (max-width : 700px) {
    .frame {
        width: 100%;
        height: 200px;
    }

    .descr {
        display: none;
    }
    .desp{
        --max-lines:2;
        margin: 0;
        max-width: 60%;
        padding: 0;
        font-style: normal;
        font-size: 10px;
    }
        .animeimg {
            height: 120px;
        }
    .epi {
        top: 0;
        margin-left: 10px;
        text-align: center;
        bottom: 0;
        right: 0;
    }
}

/* info page css  */

.title {
    text-align: center;
}

.newep{
    background-color: rgb(112, 0, 198);
    color: #ffffff;
    border-radius: 3px;
    width: auto;
    padding: 5px;
    border: 10px;
    border-color: #d9f520;
}
.reld{
    display: flex;
    gap: 2px;
    font-size: 12px;
    margin: 0;
    padding: 5px;
}
.ireld {
    display: flex;
    gap: 2px;
    font-size: 18px;
    justify-content: center;
    margin: 0;
    padding: 10px;
}
.cover {
    z-index: 9;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 100px;
}
.coveriframe {
display: block;
 width: 1080px;
 height: 500px;
}

.centerimg {}

.eps {
    padding: 1px;
    margin: 10px;
    background-color: rgb(46, 46, 46);
    border: 1;
    border-radius: 6px;
    cursor: pointer;
}

.eps:hover {
    background-color: var(--hoverc);
    color: white;
}

.center {
    text-align: center;
}

.centerp {
    text-align: center;
    font-size: 18px;
}

.info {
    background-color: var(--hoverc);
      display: flex;

}
.watchinfo {
    display: flex;
}
.wdata {
    width: 30%;
    padding: 10px;
    overflow: auto;
    max-height: 700px;
}

.data {
  width: 100%;
  max-height: 700px;
  overflow:auto;
  gap: .4rem;
  padding: 1px;
  z-index: 9;
  margin-top: 100px;
  width: 70%;
}

.datali {
    display: block;
    padding: 5px;
    margin: 10px;
}

.datalitxt {}

@media only screen and (max-width : 780px) {
    .info {
        display: block;
    }
        .data {
            width: auto;
            margin-top: 0px;
        }

        .wdata {
                    width: auto;
                    padding: 10px;
         }
         .reld{
            font-size: 10px;
         }
    .watchinfo{
        display:block;
    }
    .coveriframe{
        width: 100%;
        height: auto;
    }
    .cover{
        margin-top: 0;
        width: 100%;
    }
    .aimg{
        position: relative;
        z-index: 9;
        margin-top: 85px;
    }
    .banner{

        position: absolute;
        z-index: 0;
    }
    .centerimg {
        text-align: center;
    }
}
@media only screen and (max-width:320px) {

    .relatedanimes{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

/* about page css */

.center {
    text-align: center;
}

.centerbold {
    text-align: center;
    font-weight: bolder;
}

/* header css */

:root {
    --backgrd: #221f1f;
    --bcsecond: #1412087f;
    --bctext : transparent;
}

.centered-bot {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bod{
    display: none;
}

.slided {
    background-color: #2e2c2c;
    padding: 0;
}

.swiper-slide:hover {
    cursor: pointer;
}
.swiper-container {
    max-width: 100%;
    overflow: hidden;
    /* Prevent horizontal scrollbars */
}

.swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ensure each slide takes 100% of the container width */
    max-width: 100%;
}

/* Navigation Links Styles */
li,
a,
ul {
    background-color: var(--bctext);
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
    text-decoration: none;
}

.head {
    z-index: 1000;
    width: 100%;
    height: 150px;;
    align-items: center;
    position: fixed;
    background-color: var(--bctext);
}

.nav_links {
    display: inline-flex;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.nav_links li {
    display: inline-block;
    padding: 5px;
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #d9f520;
}

.nav_links li a ul {
    text-align: center;
    transition: all 0.3s ease 0s;
}

.nav_links_moble {
    background-color: #2e2c2c;
    display: none;
    position: fixed;
    margin-top: 430px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.nav_links_moble li {
    background-color: #2e2c2c;
    display: block;
    margin-top: 25px;
    padding: 5px;
    text-align: center;
}

.nav_links_moble li a {
    background-color: #2e2c2c;
    transition: all 0.3s ease 0s;
}

.nav_links_moble li a:hover {
    color: #d9f520;
}

.menuicon {
    display: none;
    margin-right: 45%;
    padding: 10px;
}

.searchbarmob {
    display: none;
}

.logo {
    cursor: pointer;
    display: flex;
    height: 65px;
    width: 65px;
    position: relative;
    padding-bottom: 0px;
}
.indexz{
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    .header {
        align-items: center;
        background-color: var(--bctext);
        display: flex;
        justify-content: space-between;
    }
        .bod {
            display: block;
        }

    .head {
        background-color: rgba(53, 52, 52, 0.406);
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    .searchbar {
        display: none;
    }

    .searchbarmob {
        display: flex;
        padding: 10px;
        background-color: #221f1f;
        border: 0;
        margin-top: 10px;
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 30px;
        border-radius: 5px;
        color: white;
    }

    .logo {
        cursor: pointer;
        display: flex;
        height: 50px;
        width: 50px;
        position: relative;
        margin-right: 30px;
    }

    .menuicon {
        background-color: var(--bctext);
        display: inline-flex;
        margin-top: 0px;
    }

    .nav_links {
        display: none;
        padding: 10px;
        text-align: center;
    }
}